<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="http://fonts.googleapis.com/css?family=Dosis:400,500,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  
  {{{body}}}
  

  <script src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>
</body>
</html>